.burger-constructor {
}

.burger-constructor__trigger {
    margin: 32px auto;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 7px #801AB2, 0 0 10px #801AB2, 0 0 21px #801AB2, 0 0 42px #4c4cff, 0 0 82px #4c4cff, 0 0 92px #4c4cff, 0 0 102px #4c4cff, 0 0 151px #4c4cff;
}

.burger_constructor__total_price {
    display: flex;
    align-items: center;
}

.burger_constructor__total_price svg {
    width: 36px;
    height: 36px;
}

.burger_constructor__body {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 16px;
    border-radius: 24px;
    transition: all 0.3s ease-in-out 0s;
}

.is-hover {
    box-shadow: 0 0 0.2rem #801AB2, 0 0 0.2rem #801AB2, 0 0 2rem #4c4cff, 0 0 0.8rem #4c4cff, 0 0 2.8rem #4c4cff, inset 0 0 1.3rem #4c4cff;
}

.burger_constructor__list {
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 464px;
    overflow: auto;
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: auto;
}

.burger_constructor__list::-webkit-scrollbar {
    width: 8px;
}

.burger_constructor__list::-webkit-scrollbar-track {
    background: #2f2f37;
}

.burger_constructor__list::-webkit-scrollbar-thumb {
    background-color: #8585ad;
}

.burger_constructor__item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: grabbing;
}

.burger_constructor__bottom {
    display: flex;
    align-items: center;
    justify-content: end;
}
