.ingredient {
    position: relative;
    min-height: 208px;
}

.ingredient__img {
    height: 120px;
    text-align: center;
}

.ingredient__img img {
    max-width: 100%;
    max-height: 100%;
}

.ingredient__currency {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.ingredient__name {
    text-align: center;
}
